---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Cosmic Resources.">
	<br>	
	<br>
  <Card title="Units", body = '', href='/blog/pqau.mdx' /> 
	<Card title="Circular Motion", body='', href='/Notes/CircularMotion.pdf' />
	
	<!-- Test for Latex astro component  -->
	<!-- <div>
		<span class="text-white">
			<Latex formula = "c = \\pm\\sqrt{a^2 + b^2}"> 
		</span>
	</div> -->
	<!-- Test for the mechanics script within astro tags -->
	
	</div>
</Layout>
