---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Cosmic Resources.">
	<br>	
	<br>
	<Card title="Circular Motion", body='', href='/Notes/CircularMotion.pdf' />
	<Card title="Gravitational Fields", body='', href='/Notes/GravitationalFields.pdf' />
	<Card title="Oscillations", body='', href='/Notes/Oscillations.pdf' />
	<Card title="Capacitance", body='', href='/Notes/Capacitance.pdf' />
	<Card title="Electric Fields", body='', href='/Notes/ElectricFields.pdf' />
	<Card title="Magnetic Fields", body='', href='/Notes/MagneticFields.pdf' />
	<Card title="Alternating Currents", body='', href='/Notes/AlternatingCurrent.pdf' />
	<Card title="Ideal Gasses", body='', href='/Notes/IdealGasses.pdf' />
	<Card title="Thermal Physics 1", body='', href='/Notes/Temperature.pdf' />
	<Card title="Thermal Physics 2", body='', href='/Notes/ThermoDynamics.pdf' />
	<Card title="Medical Physics", body='', href='/Notes/MedicalPhysicsNotes.pdf' />
	<Card title="Astronomy", body='', href='/Notes/Astronomy.pdf' />
	<Card title="Nuclear Physics", body='', href='/Notes/NuclearPhysics.pdf' />
	<Card title="Quantum Physics", body='There is an error at the starting, it should be E=hf ', href='/Notes/QuantumPhysics.pdf' />
	
	<!-- Test for Latex astro component  -->
	<!-- <div>
		<span class="text-white">
			<Latex formula = "c = \\pm\\sqrt{a^2 + b^2}"> 
		</span>
	</div> -->
	<!-- Test for the mechanics script within astro tags -->
	
	</div>
</Layout>
