<footer>
    <div class="flex flex-cols place-content-center text-white text-xs">
        You can contact me at vinayak@vinayakarora.xyz for any doubts!
              All content on this site is non copyrighted.
    </div> 
</footer>
